body {
    font-family: "times new roman", times, serif;
    font-size: 17px;
    line-height: 26px;
    color: #333;
}

.container {
    margin: 120px 20px 20px 40px;
    width: 1080px;
}

/* ========
   Navbar
   ======== */

.nav-top {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2;
}

.nav-top li {
    margin: 0 5px;
    padding: 5px;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
}

.top-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

button {
    /* position: relative;
    top: 0;
    right: -100px; */
    height: 30px;
    border: 1px solid #326891;
    border-radius: 3px;
    background-color: #6288a5;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
}

button:hover {
    background-color: #326891;
}

#btn-settings {
    background-color: #fff;
    border: none;
}

#btn-settings:hover {
    background-color: #fefefe;
}

.top-nav-links {
    display: block;
    width: 100%;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
    height: 75px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: hidden;
}

.top-nav-links a {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0;
    width: 230px;
    height: 75px;
    border-right: 1px solid #ccc;
}

.top-nav-links a:nth-of-type(2) {
    position: relative;
    top: -15px;
    left: -5px;
}

.top-nav-links h2 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
}

.top-nav-links img {
    float: left;
    width: 65px;
    height: 65px;
    margin: 5px;
}

/* ======
   Links
   ======  */

a {
    text-decoration-line: none;
    font-weight: 700;
    color: #333;
}

/* ======
   header
   ====== */

header h3 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
}

/* =======
   figures
   ======= */

#photo-1 {
    margin-left: 0;
    padding-left: 0;
    max-width: 100%;
    max-height: 550px;
}

#photo-1+figcaption {
    width: 50%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #666;
}

#photo-1+figcaption span {
    font-size: 11px;
    color: #999;
}

.clear {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#theory {
    margin-left: 0;
    border: 1px solid #e2e2e2;
    border-right: hidden;
    border-left: hidden;
    font-size: 14px;
    line-height: 17px;
}

#theory h2 {
    margin: 10px 0 -5px 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #333;
}

#theory img {
    width: 100%;
}

#theory figcaption {
    color: #666;
}

.img-container {
    position: relative;
}

.shorts {
    display: inline-block;
    max-width: 220px;
    text-align: justify;
    font-weight: 100;
    color: #000;
}

.short-top {
    position: absolute;
    top: 150px;
}

#short-1 {
    left: 0;
}

#short-2 {
    left: 260px;
    max-width: 200px;
}

#short-3 {
    right: 270px;
}

#short-4 {
    right: 10px;
}

.short-bottom {
    position: absolute;
    bottom: 30px;
}

#short-6 {
    bottom: 0;
    left: 260px;
    max-width: 200px;
}

#short-7 {
    right: 270px;
}

#short-8 {
    right: 10px;
}

.shorts span {
    font-size: 11px;
    font-weight: 900;
}

#credits {
    margin: 10px 0;
    font-size: 12px;
    color: #999;
}

.video {
    margin: 40px 0 30px 0;
    ;
}

figcaption {
    font-size: 13px;
    line-height: 17px;
    color: #666;
}

.video figcaption span {
    font-size: 11px;
    color: #999;
}

#telescope-img {
    margin: 20px 40px 40px 0;
    padding-right: 40px;
    max-width: 55%;
}

#telescope-img img {
    padding-right: 40px;
    max-width: 630px;
}

/* =====
   main
   ===== */

.article {
    padding: 0 20px 0 80px;
    width: 50%;
}

#part-one {
    float: left;
}

aside {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    width: 33%;
    font-size: 13px;
    line-height: 16px;
}

#recent-comments {
    font-size: 11px;
    line-height: 15px;
    font-weight: 900;
    color: #2e6086;
}

article {
    margin-bottom: 0;
}

article h2 {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    font-weight: 900;
    color: #000;
}

article time {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 15px;
    color: #bbb;
}

aside footer {
    display: block;
    width: 280px;
    padding: 5px 0;
    border-top: 1px solid #bbb;
}

aside footer a {
    font-size: 10px;
    line-height: 22px;
    font-weight: 200;
    color: #326891;
}

.comment-text {
    margin-top: -10px;
    font-size: 13px;
    line-height: 16px;
    color: #666;
}